body{
    font-family: Arial;
    background-color: #d9d9d9;
}


/*caixa da tabela*/

.tabela{
    width: 350px;
    margin: 80px auto;
    background-color: #efefef;
    padding: 20px;
    border-radius: 15px;
}


/*tabela*/

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}


/*cabeçalho*/

th{
    background-color: #ff6a2a;
    color: white;
    padding: 10px;
}


/*células*/

td{
    background-color: #dcdcdc;
    padding: 10px;
    text-align: center;
}