body{
    font-family: Arial;
    background-color: #e6e6e6;
}

form{
    background-color: white;
}

/*Caixa do formulario*/

form{
    background-color: white;
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #cfcfcf
}

/*Titulo*/

h2{
    text-align: center;
    color: #2f8ea1;
    font-size: 32px;
}

/*campos de texto*/
 input[type="email"],
 input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
 }
 
 button{
    width: 100%;
    padding: 10px;
    background-color: #2f8ea1;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
 }

 p{
    text-align: center;
    margin-top: 15px;

 }

 a{
    color: #2f8ea1;
    text-decoration: none;
    font-weight: bold; 
 }