body{
    font-family: Arial;
    background-size: cover;
}

.fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1{
    color: white;
    font-size: 36px;
}

.pre{
     color: white;
    margin-bottom: 10px;
    font-size: 17px;
}


form{
   width: 450px;
    margin: 80px 80px 80px 200px;
}

label{
    color: white;
    width: 90px;
    display: inline-block;
}


/*campos*/

input,
select,
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
}


/*mensagem maior*/

textarea{
    height: 120px;
}


/*campos lado a lado*/

.linha{
    display: flex;
    align-items: center;
    gap: 10px;
}


/*cada campo ocupa metade*/

.linha input{
    width: 50%;
}


/*telefone com 3 partes*/

.telefone input{
    width: 33%;
}


button{
    padding: 12px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

button:hover{
    background: white;
    color: #3aa6b9;
}