body {
    font-family: Arial;
    background-color: #ffe6f0;
    text-align: center;
    margin: 0;
}

/* Caixa do formulário */
form {
    background-color: white;
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Título */
h2 {
    color: #ff4d88;
}

/* Texto */
p {
    font-size: 18px;
}

/* Botões */
button {
    padding: 12px;
    margin: 10px;
    width: 80%;
    max-width: 200px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #ff99cc;
    transition: 0.3s;
}

/* Efeito ao passar o mouse */
button:hover {
    background-color: #ff4d88;
    color: white;
}

/* Botão "Não" (necessário pro JS funcionar direito) */
#nao {
    position: relative;
}